* {
  margin: 0;
  color:white;
}

html,
body { height:100%;

.page {
  width: 80%;
  height: 100%;
  border-radius: 5px;
  clip-path: polygon(30% 0, 100% 20%, 100% 100%, 70% 100%, 0 80%, 0 0);
  background: teal;

}

.card {
margin:auto;
background-color: rgb(49, 80, 255);
-webkit-box-shadow: 0px 0px 16px 10px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 16px 10px rgba(0,0,0,0.75);
box-shadow: 0px 0px 16px 10px rgba(0,0,0,0.75);
}

.container {
  padding: 10px;
}

h1 {
  text-align: center;
}



hr {
  margin-top:0.5em;
  margin-bottom:0.5em;
}

.skillsList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0.5em;
  width:100%;
}

#skills1, #skills2, #skills3, #skills4, #skills5 {
padding: 0.2em;

h3 {
  text-align: center;
}
}

.hide {
  display: none;
}